# Flash size 2MB
CONFIG_ESPTOOLPY_FLASHSIZE_2MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="2MB"

# Disable unused services
CONFIG_BT_ENABLED=n
CONFIG_BLE_ENABLED=n
CONFIG_WIFI_ENABLED=n
CONFIG_ESP_WIFI_STA_DISCONNECTED_RETRY=n

# USB CDC for serial console (ESP32-C6 specific)
CONFIG_ESP_CONSOLE_USB_CDC=y
CONFIG_USB_CDC_ENABLED=y

# Optimization for size
CONFIG_LOG_DEFAULT_LEVEL=3
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_SIZE=y

# Required SPI configs for ESP32-C6
CONFIG_SOC_SPI_SUPPORT_DDRCLK=y
CONFIG_SOC_SPI_SUPPORT_CLK_SRC=y

CONFIG_ESP_WIFI_STA_ENABLE_PMF=y
CONFIG_ESP32C6_WIFI_HW_TSF=y
CONFIG_ESP_WIFI_POWER_SAVE_MIN_MODEM=y